  .glory-to-Ukraine {
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-column img {
    width: 100%;
    display: block;
  }
  
  .right-column {
    width: 45%;
  }
  
  h1, h2, h3 {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
  }
  
  .buttons button {
    background-color: #F76707;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #F55C07;
  }
  
  .specs {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .specs li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .specs li strong {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .package {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .package li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  